footer
  nav.navbar.fixed-bottom.navbar-expand-sm.navbar-dark.text-light.bg-dark
    div.container-fluid
      a.navbar-brand(href=rootWay content=AppName)
        div.collapse.navbar-collapse(id="navbarCollapse")
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current="page" href=rootWay content=HomeLink)