header
    nav.navbar.navbar-expand-md.navbar-light.bg-light.top-0
        div.container-fluid
            a.navbar-brand(href=rootWay content=AppName)
            div.collapse.navbar-collapse(id="navbarApp")
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                        a.nav-link.active(aria-current="page" href=rootWay content=HomeLink)

