main.container
    div.bg-light.p-5.rounded.mt-3.text-center
        h1(content=AppName)
        a.lead(content=Hello)
        a.btn.btn-lg.btn-primary.align-items-center(href=rootWay content=LetStart)
