<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test Lect. Node.JS</title>
    <!--
        |
        |
        |
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>



<body>
<div id="app">
    {{ message }}
</div>



<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>


<div id="app-3">
    <span v-if="seen">Now you see me</span>
</div>


<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>



<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="index">
    <ol>
        <list-item v-for="user in users" v-bind:user="user"></list-item>
    </ol>
</div>

<div id="app-66">
    <ol class =list-group>
        <li v-for="task in tasks" v-on:click="toggle(task)" v-bind:class="{'active':task.completed, 'list-group-item':true}">
            {{task.name}}
        </li>
    </ol>

    <div class="total">
        Total : <span>{{statistics.total}}</span>
        Completed : <span>{{statistics.completed}}</span>
        Actual : <span>{{statistics.actual}}</span>
    </div>
</div>


<div id="lec_app">
    <h1>People</h1>
    <ol>
        <li v-for="user in users">
            <label>{{user.name}}<input type="number" v-on:change="averageCount()" v-model.number="user.age"></label>
        </li>
    </ol>


    <div class="average">
        Average : <span>{{average}}</span>
    </div>
</div>


<script>



    var lec_app = new Vue(
        {
            el: "#lec_app",
            data: {
                users: [
                    {name: "Jane", age: 21},
                    {name: "John", age: 10},
                    {name: "Peter", age: 1},
                    {name: "Victor", age: 91}
                ],
                average: 0,
            },
            mounted: function () {
                this.averageCount();
            },

            methods: {
                averageCount: function () {
                   this.average = 0;
                    for(let i = 0; i < this.users.length; ++i)
                        this.average += this.users[i].age;
                    this.average = this.average/this.users.length;
                }

            }
        }
    )




    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })




    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
        }
    })


    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })


    var app4 = new Vue({
        el: '#app-4',

        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    })




    var app66 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn JavaScript', completed:false },
                { text: 'Learn Vue' ,completed:false},
                { text: 'Build something awesome', completed:false}
            ],

            statistics:{
                Total:0,
                Completed:0,
                actual:0
            },

            mounted: function() {
                this.count();
            },

            methods: {
                toggle: function(s) {
                    s.completed = ~s.completed;
                    this.count();
                },


                count: function(){
                    this.statistics.total = this.tasks.length;
                    var completedTasks = this.tasks.filter((task) => task.completed===true);
                    this.statistics.completed = completedTasks.length;
                    this.statistics.actual =  this.statistics.total - this.statistics.completed;
                }
            }


        }
    })









    Vue.component("user-link",
        {
            props:["user"],
            template: `<a v-bind:href="'/id/'+user.id">{{user.name}}</a>`
        }
    );


    Vue.component("list-item"
    , {
        props:["user"],
            template: `<li><user-link v-bind:user="user"></user-link></li>`
        }
    )


    var index = new Vue({
        el : "#index",
        data :
            {
                users : [
                    {
                        id : 0,
                        name : "hello"},
                    {
                        id : 1,
                        name : "sven"}

                ]

            }


    })


    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })








</script>
</body>


</html>