<template>
  <div class="task-list">
    <b-container>
      <b-row class="justify-content-center">
        <b-col col="12" md="6">
          <b-table stripped hover :items="tasks" :fileds="fields">
            <template #cell(actions) = "data">
              <router-link :to="{name:'TaskEdit', params:{id:data.item._id}}">
                <!--COMPLETE THE TASK EDIT COMPONENT-->
                Edit
              </router-link>
            </template>
          </b-table>
          <router-link :to="{path : 'add'}"> Add New Task</router-link>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>



<script>
export default {
  name: "TaskList",
  data() {
    return {
      fields: [
        {
          key:"title"

        },
        {},
        {},
        {
          key:"actions",
          label:"actions"

        }

      ],
      tasks : []
    }
  },

  mounted() {
    this.getTasks();
  },

  methods: {
    async getTasks() {
      const response = await TaskService.fetchTasks();
      this.tasks = response.data;
    }
  }
}
</script>

<!--
For Display Data maybe use bootstrap Vue
npm i bootstrap bootstrap-vue
-->