<template>
  <div class="task-add">
    <b-container>
      <b-row class="justify-content-center">
        <b-col col="12" md="6">

          <div class="m-3">
            <b-form-input v-model="title" placeholder="enter titmle"></b-form-input>
          </div>


          <div class ="m-3">
            <b-form-textarea
                id="textarea"
                v-model="description"
                placeholder = "Enter so"
                rows = "3"
                max-rows = "6"/>
          </div>


          <div class="m-3">
            <b-button variant="success" @click="addTask()"></b-button>
          </div>

        </b-col>
      </b-row>
    </b-container>
  </div>
</template>



<script>
import TaskService from "../services/TaskService";

export default {
  name: "TaskAdd",
  data() {
    return {
      title:"",
      description :""
    }
  },
  methods: {
    async addTask() {
      try {
        await TaskService.addTask({
          title:this.title,
          description:this.description});

        this.$router.push({name:"TaskList"});

      } catch(err) {
        console.log(err.message);
      }
    }
  }
}
</script>

