

<!--

{
path:"about",
name : "About",
component : About
},


{
path:"home",
name : "Home",
component :Home
},

{
path : "tasks
.
name : "Tasks

component: Task,

children [

{
  path: "list,
  name : "TaskList",
  component: TaskList
},



{
  path: "edit,
  name : "TaskEdit",
  component: TaskEdit
},


{
  path: "add,
  name : "TaskAdd",
  component: TaskAdd
},


]
}

-->









<template>
  <div class="task-add">
    <b-container>
      <b-row class="justify-content-center">
        <b-col col="12" md="6">

          <div class="m-3">
            <b-form-input v-model="title" placeholder="enter titmle"></b-form-input>
          </div>


          <div class ="m-3">
            <b-form-textarea
                id="textarea"
                v-model="description"
                placeholder = "Enter so"
                rows = "3"
                max-rows = "6"/>
          </div>


          <div class="m-3">
            <b-button variant="ok" @click="updateTask()"></b-button>
          </div>

        </b-col>
      </b-row>
    </b-container>
  </div>
</template>



<script>
import TaskService from "../services/TaskService";

export default {
  name: "TaskEdit",
  data() {
    return {
      title:"",
      description :""
    }
  },
  mounted() {
    this.getTask();
  },

  methods: {
    async getTask() {
      try{
        var id = this.$route.params.id;
        var response = await TaskService.getTask({id});

        this.title = response.data.title;
        this.description = response.data.description;
      }catch(err){
        console.log(err.message);
      }
    },


    async updateTask() {
      try {
        await TaskService.updateTask({
          id: this.$route.params.id,
          title:this.title,
          description:this.description});

        this.$router.push({name:"TaskList"});

      } catch(err) {
        console.log(err.message);
      }
    }
  }
}
</script>
